<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>about us</title>
  <link rel="stylesheet" href="aboutus.css">
</head>
<body>

<div class="top-side">
  <a href="index" class="active" >Home</a>
  <a href="student">Students</a>
  <a href="aboutus">About us</a>

</div>

<div class="about-text">
  <h1>Website information</h1>
  <p>Hello visitor. This website is a Student Administration
    System that can be used to do add students to the list or delete/update.</p>
</div>

</body>
</html>